

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>


<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
  <!-- Wrapper for slides -->
    <div class="carousel-inner">

    {% for feature in page.features %}
      {% if forloop.index == 1 %} <div class="carousel-item active"> {% else %} <div class="carousel-item"> {% endif %}
        <div>
          <div class="myitem">
          	<div id='{{ feature.box}}' class="jxgbox" style="width:95%; height:500px; margin:auto;"></div>
          </div>

          <div class="noheight">
            <h1>test{{ feature.title }}</h1>
            <button onclick="hideshow()">Show / Hide Code</button>
            <br>
            <div id="examplecode" class="noheight" style="display:none">
              <p>test</p>
          {% highlight js %}
          {{ feature.code }}
          {% endhighlight %}
            </div>
            <script type='text/javascript'>
            function hideshow() {
                var x = document.getElementById("examplecode");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
            </script>
          </div>

        </div>
      </div>
    {% endfor %}

  <a class="carousel-control left" style="background-image: none; height:300px;" href="#myCarousel" data-slide="prev">
    <span class="fa-stack fa-lg" style="margin-top: 100px;">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-arrow-left fa-stack-1x fa-inverse"></i>
    </span>
  </a>

  <a class="carousel-control right" style="background-image: none; height:300px;" href="#myCarousel" data-slide="next">
    <span class="fa-stack fa-lg" style="margin-top: 100px;">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-arrow-right fa-stack-1x fa-inverse"></i>
    </span>
    </a>
</div>
</div>
